@value makerWhite from '/src/common/colors.css';
@value makerGreen from '/src/common/colors.css';
@value makerLightPink from '/src/common/colors.css';
@value makerLightGrey from '/src/common/colors.css';

@value mediaQuery from '/src/common/size.css';

.maker {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1; /*flex-grow : 1, flex-shrink : 1, flex-basis : 0%*/
  background-color: makerWhite;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: mediaQuery) {
  .container {
    flex-direction: column;
  }

  .cardMaker {
    border-bottom: 1px solid makerLightGrey;
  }
}
